*.opendb
*.tlog
*.obj

FrameWork.VC.db	
*.db
*.suo
*.ipch
*.dll

/Client/Default/x64/
/Client/Bin/Client.exe
/Client/Bin/Client.ilk
/Client/Bin/Client.pdb
/Client/Bin/Engine.dll
/Client/Bin/imgui.ini
/Client/Bin/*.cso
/Client/Bin/Client.ipdb
/Client/Bin/Client.iobj

/Client/Default/imgui.ini

/Engine/Bin/
/Engine/Bin/Default/x64/Debug
/Engine/Reference
/Engine/Default/x64/Debug

/Reference/Librarys/Engine.lib

/Reference/Headers
/Engine/Default/x64/Release/vc140.pdb
/Engine/Default/x64/Release/Engine.log

/.vs/FrameWork/v17/fileList.bin
/.vs/FrameWork/project-colors.json
